<% if user_signed_in? %>
  <table class="table table-striped table-bordered table-hover" style="background: white;">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Facebook</th>
        <th> </th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
        <tr>
          <td><%= link_to friend.first_name + " " + friend.last_name, friend %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.facebook %></td>
          <td><%= button_to "Delete", friend, method: :delete, data: {"turbo-confirm": 'Are you sure?'}, class:"btn btn-outline-danger btn-sm" %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br>
  <!-- <%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary"%> -->
<% else %>
<div class="card transp">
  <div class="card-body">
    <h1>Hello there</h1>
    <p>I've been expecting you</p>
  </div>
</div>
<% end %>